header{
    background-image: url(../images/kebap2.jpg);
}

#kebabs .products{
    color: #000;
    margin-top: 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-template-rows: 180px 180px;
    row-gap: 20px;
}

#kebabs .products .col img{
    min-width: 180px;
    height: 180px;
    border-radius: 20px;
    margin-right: 20px;
}



