header#kebablar{
    background-image: url(../images/kebap-background.jpg);
}

header#pideler{
    background-image: url(../images/pide-background.jpg);
}

header#lahmacunlar{
    background-image: url(../images/lahmacun-background.webp);
}

header#durumler{
    background-image: url(../images/durum-background.jpg);
}

header#corbalar{
    background-image: url(../images/corba-background.jpg);
}

header#baslangiclar{
    background-image: url(../images/baslangic-background.jpg);
}

header#salatalar{
    background-image: url(../images/salata-background.jpg);
}

header#kahvaltilar{
    background-image: url(../images/kahvalti-background.jpg);
}

header#tatlilar{
    background-image: url(../images/tatli-background.jpeg);
}

#foods .products{
    color: #000;
    margin-top: 50px;
    justify-content: space-between;
    grid-template-rows: 180px 180px;
    row-gap: 30px;
}

#foods .products .col img{
    min-width: 180px;
    height: 180px;
    border-radius: 20px;
    margin-right: 20px;
    padding: 2px;
    border: 3px solid #ffc515;
}





